<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>Select</title>
</head>
<body>
{{template "navbar"}}

<ul>
    {{range .Images}}
        <li>
            <form action="/manipulate/">
                <input type="submit" value={{.}} name="img">
            </form>
        </li>
    {{end}}
</ul>

</body>
</html>